*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    text-align: left;
    padding: 1rem;
}

header{
    margin: 0 auto;
    width: 650px;
}

body{
    font-size: 1rem;
    color: #333;
    background: #d6d6d6;
}

form{
    display: grid;
}

fieldset{
    display: grid;
    gap: 5rem;
    padding: 1rem;
    margin: 1rem;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button{
    margin: 1rem;
    background-color: rgb(16, 16, 119);
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}

botton:hoover{
    background-color: darkgrey;
}